version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: receiptless
    ports:
      - "5432:5432"
    volumes:
      - receiptless_pg:/var/lib/postgresql/data
volumes:
  receiptless_pg:
